/*
  Gradient descent, animazione fadeIn all'apertura
*/

body {
  
  background-color: #0093E9;
  background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);

  font-family: 'Segoe UI' !important;

  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 

@keyframes fadeOutAnimation { 
  0% { 
      opacity: 1; 
  } 
  100% { 
      opacity: 0; 
   } 
} 

.disappear {
  animation: fadeOutAnimation ease 1s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

/*
  Colore testo allineato, caratteristiche base di movimento
*/

h1, h2, h3, h4, h5, h6, p {
  color: rgb(40, 40, 40);
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/*Immagine profilo */

#profile-image-div {
  padding-top: 6rem;
  margin: auto;
  text-align: center;
} 


#profile-image {
  width: 13.5rem;
  height: 13.5rem;
  border-radius: 50%;
}

/*Bordi schifosi tabella*/

tbody, tr {
  border: 0px !important;
  margin: 0px;
  padding: 0px;
}



/*
---------------
*/

/*Regolazione bottoni*/

i {
  margin: 2.75rem;
  font-size: 4rem;
}

/*Crea un bottone traparente, che se passati col mouse sopra, si alza e diventa bianco*/
.white-button {
  background: transparent;
  font-weight: normal;
  position: relative;
  color: #3b3b3b;
  border: 0px solid #DDD;
  border-radius: 35%;
  box-shadow: 0px 0px 0px transparent;
  font-family: 'Segoe UI';
  margin: 0px;
  padding: 0px;
  transition: all .3s;
  outline: none;

  }
  
  .white-button:hover {
  background: whitesmoke !important;
  box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.17) !important;
  transform: translateY(-20px);
  }
  
  .white-button:active {
  border-bottom-color: #999;
  background: whitesmoke !important;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2) !important;  
  transform: translateY(-5px);  
  }
  

  .white-button:focus {
    outline: none;
    background: transparent; 
}

/*Regolazioni responsive del bottone di ritorno*/

@media screen and (min-width: 566px){
  .home-button {
    margin-top: 3rem; 
    margin-left: 4rem;
    text-align: left;  
  }
}

@media screen and (max-width: 565px){
  .home-button {
    text-align: center;
  }
}

/*------------*/
/*Card responsive*/

.projectCard {
  text-align: center;
  width: 25vh;
  margin: auto;
  margin: 30px 20px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  background-color: white;
  display: inline-block;
}

.image-box {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 24vh;
  height: 24vh;
}

.projectImg {
  width: 25vh;
  height: 25vh;

}

.image-box:hover .projectImg {
  transform: scale(1.1);
}

.image-box .projectImg {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.projectWrites {
  padding: 20px;
}

.projectTitle {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.projectDescription {
  margin-bottom: 5px;
  font-size: .87rem;
}

.projectPeriod {
  margin-bottom: 10px;
  font-size: .87rem;
}

